<!DOCTYPE html>
<html>
<head>
    <title>Petimebak</title>
</head>
<body>

{% if user.is_authenticated %}
Selam {{ user }} <a href="{% url "logout" %}">logout</a>
{% else %}
<a href="{% url "login" %}">giriş yap</a> ya da
<a href="{% url "register" %}">kayıt ol</a>
{% endif %}

<h3>ilanlar</h3>

<ul>
{% for advert in adverts %}
    <li>{{ advert.region }} bölgesinde
        {{ advert.pet_type.name }} bakabilecek
        birini ariyorum. günlük {{ advert.price }}
        vereceğim.</li>
{% endfor %}
</ul>

</body>
</html>