{% extends "base.html" %}

{% block content %}
<div id="request-list">

            <div class="request-item">

                <div class="profile">
                    <a href="#">
                        <img src="http://www.gravatar.com/avatar/f4d5d0097f895d0bf18600014c698d18/?default=&s=100" alt=""/>
                    </a>
                </div>

                <div class="summary">
                    <h4>Fikirtepe'de köpek bakacak biri arıyorum</h4>
                    <p>12 Eylül ve 16 Eylül tarihleri arasında günlük 100TL vereceğim.</p>
                    <a href="#">@fthrkl</a>
                </div>

            </div>


            <div class="request-item">

                <div class="profile">
                    <a href="#">
                        <img src="http://www.gravatar.com/avatar/67a249ec35626d6a96ee36cd76c529a1/?default=&s=100" alt=""/>
                    </a>
                </div>

                <div class="summary">
                    <h4>Kadıköy'da kaplumbağa bakacak biri arıyorum</h4>
                    <p>12 Eylül ve 16 Eylül tarihleri arasında günlük 500TL vereceğim.</p>
                    <a href="#">@halitalptekin</a>
                </div>

            </div>


            <div class="request-item">

                <div class="profile">
                    <a href="#">
                        <img src="http://www.gravatar.com/avatar/e70aa173a95f239ee3aa4768b441cb83/?default=&s=100" alt=""/>
                    </a>
                </div>

                <div class="summary">
                    <h4>Bebek bölgesinde at bakacak biri arıyorum</h4>
                    <p>12 Eylül ve 16 Eylül tarihleri arasında günlük 100TL vereceğim.</p>
                    <a href="#">@yalniz_kovboy</a>
                </div>

            </div>

        </div>

        <div class="action-row">
            <a href="#" class="large-button">Yeni İlan Gönder</a>
        </div>
{% endblock %}